<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center;">
  <h1>Course Details</h1>
  <form method="post" action="{% url 'save_course'%}">
    {%csrf_token%}
    <input type="text" placeholder="Course Name" name="Course_name"><br><br>
    <input type="text" placeholder="Duration" name="Duration"><br><br>
    <input type="text" placeholder="Fees" name="Fees"><br><br>
    <input type="text" placeholder="Institute name" name="Institute_name"><br><br>
    <textarea placeholder="Description" name="Description"></textarea><br><br>
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>